/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/.DS_Store
*.sql
resources/.DS_Store
resources/.DS_Store
/node_modulesxxxx
composer.lock
public/.DS_Store
.DS_Store
public/frontend/images/.DS_Store
public/frontend/images/.DS_Store
public/frontend/js/.DS_Store
public/frontend/js/.DS_Store
public/frontend/images/.DS_Store
public/frontend/images/.DS_Store
public/frontend/images/.DS_Store
public/frontend/images/.DS_Store
public/frontend/js/.DS_Store
public/frontend/js/.DS_Store
